section.text {
    margin-top: 1em;
}

div.portfolio-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    align-items: center;
    justify-content: space-evenly;
    position:relative;
    background: none;
}

/* 
div.portfolio-grid < div {
    display: inline-block;
} */

div.portfolio-img {
    display: inline-block;
	float:left;
	position: relative;
}

div.portfolio-img:hover {
    background: black;
}

div.portfolio-img:hover img {
    -webkit-opacity: 0; 
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
    transition: all 1s ease;
}

div.portfolio-grid h5 {
    display: none;
}

div.portfolio-img:hover .imageTitle{
    display: block !important;
	font-size: 1em;
	color: white;
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	bottom: 50%;
}

div.bottom-image {
    margin-top: 0px;
    text-align: center;
}

div.bottom-image img {
    max-width: 50%;
}

div.divider:first-of-type {
    transform: scaleY(-1);
}